In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from typing import List, Callable, Dict
from math import factorial
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', 4000)

# Вариант 5
# $ y' = -y + sin(x); y(0) = 1 $
# Решение задачи Коши:
# $ y = \frac{1}{2}(sin(x)- cos(x)) + \frac{3}{2}e^{-x}$

In [2]:
func = lambda x, y: np.sin(x) - y 
# Решение задачи Коши
y = lambda x: 1/2 * np.sin(x) - 1/2 * np.cos(x) + 3/2/np.exp(x)
x0 = 0
y0 = 1

# Параметры задачи
N = int(input())
h = float(input())

10
0.1

# Таблица значений решения задачи Коши

In [3]:
# Получение таблицы значений точного решения задачи Коши
def get_solution_table(func: Callable, N: int, h: float, x0: float) -> pd.DataFrame:
    nodes = np.array([x0 + k * h for k in range(-2, N+1)])
    values = func(nodes)
    return pd.DataFrame({'Nodes': nodes, 'Values': values}, index=range(-2, N+1))

solution_table = get_solution_table(func=y, N=N, h=h, x0=x0)
solution_table

    Nodes    Values
-2   -0.2  1.242736
-1   -0.1  1.110338
0     0.0  1.000000
1     0.1  0.909671
2     0.2  0.837398
3     0.3  0.781319
4     0.4  0.739659
5     0.5  0.710717
6     0.6  0.692871
7     0.7  0.684566
8     0.8  0.684318
9     0.9  0.690713
10    1.0  0.702404

# Метод разложения в ряд Тейлора:
# $y(x) = \sum\limits_{k=0}^\infty \frac{y^{(k)}(x_0)}{k!} (x-x_0)^k$
# $y^{(0)}(0) = y(0) = 1$
# $y'(0) = -y(0) + sin(0) = -1$
# $y''(0) = -y'(0) + cos(0) = 2$
# $y'''(0) = -y''(0) - sin(0) = -2$
# $y^{(4)}(0) = -y'''(0) - cos(0) = 1$
# $y^{(5)}(0) = -y^{(4)}(0) + sin(0) = -1$

In [4]:
def get_taylor(x0: float, x: float) -> float:
    derivatives = [1, -1, 2, -2, 1, -1]
    factorials = []
    result = derivatives[0]
    result += sum([derivatives[k]/factorial(k)*(x-x0)**k for k in range(1, len(derivatives))])
    return result


def get_taylor_table(func: Callable, N: int, h: float, x0: float) -> pd.DataFrame:
    nodes = [x0 + k * h for k in range(-2, N+1)]
    values = [func(x0, node) for node in nodes]
    return pd.DataFrame({'Nodes': nodes, 'Values': values}, index=range(-2, N+1))


def merge_tables(solution_table: pd.DataFrame, taylor_table: pd.DataFrame, labels: List[str]) -> pd.DataFrame:
    
    difference = abs(np.array(solution_table['Values']) - np.array(taylor_table['Values']))
    return pd.DataFrame(
        {
            labels[0]: solution_table['Values'].to_list(),
            labels[1]: taylor_table['Values'].to_list(),
            'Absolute Error': difference,
        },
        index=solution_table['Nodes'].to_list()
    )

# Таблица значений методом разложения в ряд Тейлора:

In [5]:
labels = ['Solution Values', 'Taylor Values']
taylor_table = get_taylor_table(func=get_taylor, N=N, h=h, x0=x0)
taylor_table

    Nodes    Values
-2   -0.2  1.242736
-1   -0.1  1.110338
0     0.0  1.000000
1     0.1  0.909671
2     0.2  0.837397
3     0.3  0.781317
4     0.4  0.739648
5     0.5  0.710677
6     0.6  0.692752
7     0.7  0.684270
8     0.8  0.683669
9     0.9  0.689417
10    1.0  0.700000

# Таблица для сравнения с точным решением:

In [6]:
merged_taylor_solution = merge_tables(solution_table, taylor_table, labels)
merged_taylor_solution

      Solution Values  Taylor Values  Absolute Error
-0.2         1.242736       1.242736    1.829221e-07
-0.1         1.110338       1.110338    2.817711e-09
 0.0         1.000000       1.000000    0.000000e+00
 0.1         0.909671       0.909671    2.738340e-09
 0.2         0.837398       0.837397    1.727605e-07
 0.3         0.781319       0.781317    1.939790e-06
 0.4         0.739659       0.739648    1.074321e-05
 0.5         0.710717       0.710677    4.039459e-05
 0.6         0.692871       0.692752    1.188834e-04
 0.7         0.684566       0.684270    2.954557e-04
 0.8         0.684318       0.683669    6.488036e-04
 0.9         0.690713       0.689417    1.296210e-03
 1.0         0.702404       0.700000    2.403501e-03

# Традиционный метод Эйлера($O(h)$ на отрезке)

In [7]:
# Функция для расчета значений по традиционному методу Эйлера
def get_basic_euler_table(func: Callable, N: int, h: float, x0: float, y0: float):
    
    nodes = [x0 + k * h for k in range(-2, N+1)]
    values = [0, 0, y0]

    for i in range(3, N + 3):
        current_value = values[i-1] + h * func(nodes[i-1], values[i-1])
        values.append(current_value)
    
    return pd.DataFrame(
        {
            'Nodes': np.array(nodes),
            'Values': np.array(values)
        },
        index=range(-2, N+1)
    )

# Таблица значений по традиционному методу Эйлера

In [8]:
basic_euler_table = get_basic_euler_table(func=func, N=N, h=h, x0=x0, y0=y0)
basic_euler_table

    Nodes    Values
-2   -0.2  0.000000
-1   -0.1  0.000000
0     0.0  1.000000
1     0.1  0.900000
2     0.2  0.819983
3     0.3  0.757852
4     0.4  0.711619
5     0.5  0.679399
6     0.6  0.659401
7     0.7  0.649926
8     0.8  0.649355
9     0.9  0.656155
10    1.0  0.668872

# Таблица для сравнения традиционного метода Эйлера с точным решением

In [9]:
labels = ['Solution Values', 'Basic Euler Values']
merged_euler_solution = merge_tables(solution_table, basic_euler_table, labels)
merged_euler_solution

      Solution Values  Basic Euler Values  Absolute Error
-0.2         1.242736            0.000000        1.242736
-0.1         1.110338            0.000000        1.110338
 0.0         1.000000            1.000000        0.000000
 0.1         0.909671            0.900000        0.009671
 0.2         0.837398            0.819983        0.017414
 0.3         0.781319            0.757852        0.023467
 0.4         0.739659            0.711619        0.028040
 0.5         0.710717            0.679399        0.031319
 0.6         0.692871            0.659401        0.033469
 0.7         0.684566            0.649926        0.034640
 0.8         0.684318            0.649355        0.034963
 0.9         0.690713            0.656155        0.034558
 1.0         0.702404            0.668872        0.033531

# Первая модификация метода Эйлера ($O(h^2)$ на отрезке)

In [10]:
# Первая модификация метода Эйлера
def get_euler_first_mod_table(func: Callable, N: int, h: float, x0: float, y0: float):
    
    nodes = [x0 + k * h for k in range(-2, N+1)]
    values = [0, 0, y0]
    for i in range(3, N + 3):
        temp = values[i-1] + h/2 * func(nodes[i-1], values[i-1])
        current_value = values[i-1] + h * func(nodes[i-1] + h/2, temp)
        values.append(current_value)
        
    return pd.DataFrame(
        {
            'Nodes': np.array(nodes),
            'Values': np.array(values)
        },
        index=range(-2, N+1)
    )

# Таблица значений первой модификации метода Эйлера

In [11]:
euler_first_mod_table = get_euler_first_mod_table(func=func, N=N, h=h, x0=x0, y0=y0)
euler_first_mod_table

    Nodes    Values
-2   -0.2  0.000000
-1   -0.1  0.000000
0     0.0  1.000000
1     0.1  0.909998
2     0.2  0.837993
3     0.3  0.782130
4     0.4  0.740640
5     0.5  0.711829
6     0.6  0.694077
7     0.7  0.685835
8     0.8  0.685623
9     0.9  0.692030
10    1.0  0.703712

# Таблица для сравнения первой модификации метода Эйлера и точного решения

In [12]:
labels = ['Solution Values', 'Euler M1 Values']
merged_euler_first_mod_solution = merge_tables(solution_table, euler_first_mod_table, labels)
merged_euler_first_mod_solution

      Solution Values  Euler M1 Values  Absolute Error
-0.2         1.242736         0.000000        1.242736
-0.1         1.110338         0.000000        1.110338
 0.0         1.000000         1.000000        0.000000
 0.1         0.909671         0.909998        0.000327
 0.2         0.837398         0.837993        0.000595
 0.3         0.781319         0.782130        0.000811
 0.4         0.739659         0.740640        0.000982
 0.5         0.710717         0.711829        0.001111
 0.6         0.692871         0.694077        0.001206
 0.7         0.684566         0.685835        0.001269
 0.8         0.684318         0.685623        0.001305
 0.9         0.690713         0.692030        0.001317
 1.0         0.702404         0.703712        0.001309

# Вторая модификация метода Эйлера ($O(h^2)$ на отрезке)

In [13]:
# Вторая модификация метода Эйлера
def get_euler_second_mod_table(func: Callable, N: int, h: float, x0: float, y0: float):
    
    nodes = [x0 + k * h for k in range(-2, N+1)]
    values = [0, 0, y0]
    for i in range(3, N + 3):
        temp = values[i-1] + h * func(nodes[i-1], values[i-1])
        current_value = values[i-1] + h/2 * (func(nodes[i-1], values[i-1]) + func(nodes[i], temp))
        values.append(current_value)
        
    return pd.DataFrame(
        {
            'Nodes': np.array(nodes),
            'Values': np.array(values)
        },
        index=range(-2, N+1)
    )

# Таблица значений второй модификации метода Эйлера

In [14]:
euler_second_mod_table = get_euler_second_mod_table(func=func, N=N, h=h, x0=x0, y0=y0)
euler_second_mod_table

    Nodes    Values
-2   -0.2  0.000000
-1   -0.1  0.000000
0     0.0  1.000000
1     0.1  0.909992
2     0.2  0.837968
3     0.3  0.782078
4     0.4  0.740550
5     0.5  0.711692
6     0.6  0.693888
7     0.7  0.685588
8     0.8  0.685315
9     0.9  0.691658
10    1.0  0.703273

# Таблица для сравнения второй модификации метода Эйлера и точного решения

In [15]:
labels = ['Solution Values', 'Euler M2 Values']
merged_euler_second_mod_solution = merge_tables(solution_table, euler_second_mod_table, labels)
merged_euler_second_mod_solution

      Solution Values  Euler M2 Values  Absolute Error
-0.2         1.242736         0.000000        1.242736
-0.1         1.110338         0.000000        1.110338
 0.0         1.000000         1.000000        0.000000
 0.1         0.909671         0.909992        0.000321
 0.2         0.837398         0.837968        0.000571
 0.3         0.781319         0.782078        0.000758
 0.4         0.739659         0.740550        0.000891
 0.5         0.710717         0.711692        0.000975
 0.6         0.692871         0.693888        0.001017
 0.7         0.684566         0.685588        0.001023
 0.8         0.684318         0.685315        0.000997
 0.9         0.690713         0.691658        0.000945
 1.0         0.702404         0.703273        0.000870

# Метод Рунге-Кутты 4-го порядка($O(h^5)$ при переходе)

In [16]:
# Вторая модификация метода Эйлера
def get_runge_kutta_table(func: Callable, N: int, h: float, x0: float, y0: float):
    
    nodes = [x0 + k * h for k in range(-2, N+1)]
    values = [0, 0, y0]
    for i in range(3, N + 3):
        k1 = h * func(nodes[i-1], values[i-1])
        k2 = h * func(nodes[i-1] + h/2, values[i-1] + k1/2)
        k3 = h * func(nodes[i-1] + h/2, values[i-1] + k2/2)
        k4 = h * func(nodes[i-1] + h, values[i-1] + k3)
        current_value = values[i-1] + 1/6 * (k1 + 2 * k2 + 2 * k3 + k4)
        values.append(current_value)
        
    return pd.DataFrame(
        {
            'Nodes': np.array(nodes),
            'Values': np.array(values)
        },
        index=range(-2, N+1)
    )

# Таблица значений метода Рунге-Кутта

In [17]:
runge_kutta_table = get_runge_kutta_table(func=func, N=N, h=h, x0=x0, y0=y0)
runge_kutta_table

    Nodes    Values
-2   -0.2  0.000000
-1   -0.1  0.000000
0     0.0  1.000000
1     0.1  0.909671
2     0.2  0.837398
3     0.3  0.781320
4     0.4  0.739659
5     0.5  0.710718
6     0.6  0.692871
7     0.7  0.684566
8     0.8  0.684319
9     0.9  0.690713
10    1.0  0.702404

# Таблица для сравнения метода Рунге-Кутта с точным решением

In [18]:
labels = ['Solution Values', 'Runge-Kutta Values']
merged_runge_kutta_solution = merge_tables(solution_table, runge_kutta_table, labels)
merged_runge_kutta_solution

      Solution Values  Runge-Kutta Values  Absolute Error
-0.2         1.242736            0.000000    1.242736e+00
-0.1         1.110338            0.000000    1.110338e+00
 0.0         1.000000            1.000000    0.000000e+00
 0.1         0.909671            0.909671    1.498570e-07
 0.2         0.837398            0.837398    2.677094e-07
 0.3         0.781319            0.781320    3.575076e-07
 0.4         0.739659            0.739659    4.227829e-07
 0.5         0.710717            0.710718    4.666983e-07
 0.6         0.692871            0.692871    4.920939e-07
 0.7         0.684566            0.684566    5.015262e-07
 0.8         0.684318            0.684319    4.973014e-07
 0.9         0.690713            0.690713    4.815058e-07
 1.0         0.702404            0.702404    4.560302e-07

# Экстраполяционный метод Адамса 4-го порядка ($O(h^6)$ на одном шаге)

In [19]:
# Построение полной таблицы конечных разностей
def get_dd_table(lst: List[float]) -> np.ndarray:
    
    result = []
    result.append(lst)
    for i in range(1, 5):
        current_lst = [result[i-1][j+1] - result[i-1][j] for j in range(0, len(result[i-1])-1)]
        result.append(current_lst)
    return result

# 
def get_ext_adams_table(func: Callable, N: int, h: float, x0: float, y0: float, start_table: pd.DataFrame) -> pd.DataFrame:
    
    nodes = list(start_table[:, 0])
    values = list(start_table[:, 1])
    eta_lst = [h * func(nodes[i], values[i]) for i in range(len(nodes))]
    
    dd_table = get_dd_table(eta_lst)

    coeffs = [1., 1 / 2, 5 / 12, 3 / 8, 251 / 720]
    new_value = values[-1] + sum([dd_table[i][-1] * coeffs[i] for i in range(0, 5)])

    
    values.append(new_value)
    nodes.append(nodes[-1] + h)
    
    for i in range(6, N + 3):
        temp = h * func(nodes[-1], values[-1])
        dd_table[0].append(temp)
        for j in range(1, 5):
            dd_table[j].append(dd_table[j-1][-1] - dd_table[j-1][-2])
        
        new_value = values[-1] + sum([dd_table[i][-1] * coeffs[i] for i in range(0, 5)])

        
        values.append(new_value)
        nodes.append(nodes[-1] + h)

    return pd.DataFrame(
        {
            'Nodes': nodes,
            'Values': values,
        },
        index=range(-2, N+1)
    )

# Таблица значений экстраполяционного метода Адамса

In [20]:
ext_adams_table = get_ext_adams_table(func=func,N=N, h=h, x0=x0, y0=y0, start_table=np.array(taylor_table[:5]))
ext_adams_table

    Nodes    Values
-2   -0.2  1.242736
-1   -0.1  1.110338
0     0.0  1.000000
1     0.1  0.909671
2     0.2  0.837397
3     0.3  0.781318
4     0.4  0.739658
5     0.5  0.710716
6     0.6  0.692869
7     0.7  0.684564
8     0.8  0.684316
9     0.9  0.690711
10    1.0  0.702401

# Таблица для сравнения экстраполяционного метода Адамса с точным решением

In [21]:
labels = ['Solution Values', 'Adams Values']
merged_adams_solution = merge_tables(solution_table, ext_adams_table, labels)
merged_adams_solution

      Solution Values  Adams Values  Absolute Error
-0.2         1.242736      1.242736    1.829221e-07
-0.1         1.110338      1.110338    2.817711e-09
 0.0         1.000000      1.000000    0.000000e+00
 0.1         0.909671      0.909671    2.738340e-09
 0.2         0.837398      0.837397    1.727605e-07
 0.3         0.781319      0.781318    7.528680e-07
 0.4         0.739659      0.739658    1.187080e-06
 0.5         0.710717      0.710716    1.608837e-06
 0.6         0.692871      0.692869    1.848312e-06
 0.7         0.684566      0.684564    2.071094e-06
 0.8         0.684318      0.684316    2.178178e-06
 0.9         0.690713      0.690711    2.265113e-06
 1.0         0.702404      0.702401    2.269168e-06

In [27]:
def merge_all_tables(errors) -> pd.DataFrame:
    index = ['Taylor Series', 'Basic Euler', 'Euler Mod 1', 'Euler Mod 2', 'Runge-Kutta', 'Adams']
    
    return pd.DataFrame({'Absolute Error': errors}, index=index)

# Таблица для сравнения всех методов

In [29]:
tables = [
    merged_taylor_solution, 
    merged_euler_solution, 
    merged_euler_first_mod_solution, 
    merged_euler_second_mod_solution, 
    merged_runge_kutta_solution, 
    merged_adams_solution,
]
errors = [np.array(table['Absolute Error'])[-1] for table in tables]
merged_all_tables = merge_all_tables(errors)
merged_all_tables

               Absolute Error
Taylor Series    2.403501e-03
Basic Euler      3.353143e-02
Euler Mod 1      1.308937e-03
Euler Mod 2      8.697968e-04
Runge-Kutta      4.560302e-07
Adams            2.269168e-06